body{
	background-color:white;

}
div.page1, div.page2, div.page3,div.page5{
	border-style: groove;
	border-color:#C0C0C0;
	position:absolute;
	left:50%;
	margin-left:-400px;
background-color: white;

font-size:30.1px;
color:#DC143C;
font-weight:normal;
font-style:normal;
text-decoration: none;
} 
div.page1{
	top:0px;
width:800px;
height:35.9em;

}
div.page2{
		top:36.2em;
width:800px;
height:35.9em;

}
div.page3{
		top:72.4em;
width:800px;
height:35.9em;
font-family: georgia;

}
span.sp1, span.sp2, span.sp3, span.sp4, span.sp5{
	font-size:14px;
	color:black;
	font-weight:normal;
	font-family:Arial,serif;
	font-style:normal;
	text-decoration:none;
	position:absolute;
	left:400px;
	top:-3px;
	background-color: white;
}
div.p1{
	position:absolute;
	left:58.00px;
	top:57.12px;
	font-family:Arial,serif;
	font-size:14px;
	color:black;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	

}
span.sp2{
	left:450px;
	top:55px;
}
span.sp3{
	left:30.8em;
	top:11em;
}
span.sp4{
	left:31em;
	top:15em;
}
span.sp5{
	left:15em;
	top:20em;
}
span.sp6, span.sp8, span.s7{
	font-size:18px;
	color:black;
	font-weight:normal;
	font-family:georgia;
	font-style:normal;
	text-decoration:none;
	position:absolute;
	
}
span.sp6{left:-1em;
	top:17em;}
	
div.p2,div.p3, div.p4, div.p5
{
	border: 2px solid black;
  padding: 10px;
  border-radius: 2em 2em;
	position:absolute;
overflow:hidden;
background-color: white;
font-family: Arial,serif;
font-size:13px;
color:black;
font-weight:normal;
font-style:normal;
text-decoration: none;
}
div.p2{
	width:23em;
height:270px;
top:31em;
left:0.3em;
}

div.p3{
	
width:30em;
height:25em;

top:31em;
left:27.7em;
}
table, th, td, tr.r1, td.r2 {
  border: 1px solid black;
  border-collapse: collapse;
  font-family: Arial,serif;
  font-size: 13px;
}
div.p4{

width:23em;
height:6em;
top:60em;
left:0.3em;
}
div.p5{
	width:57.3em;
height:3em;
top:73em;
left:0.3em;
}
div.p6, div.p10, div.p15{
	position:absolute;
	font-size:10.1px;
	font-family:Arial,serif;
	color:black;
	font-weight:normal;
	font-style:normal;
	text-decoration: none;
	background-color: white;
}
div.p6{
	left:365px;
	top:105em;
}
div.p10{
left:680px;
top:213em;	
}
span.sp8{
	left:4em;
	top:42em;
}
div.p7{
	font-family:Arial,serif;
	font-size:18px;
	color:black;
	font-weight:normal;
	font-style:normal;
	text-decoration: none;

}
div.p8, div.p9, div.p11, div.p12,div.p18{
border: 2px solid black;
  padding: 20px;
position:absolute;
overflow:hidden;
background-color: white;
font-family: Arial,serif;
font-size:13px;
color:black;
font-weight:normal;
font-style:normal;
text-decoration: none;	
}
div.p8{
width:57.3em;
height:250px;
top:8em;
left:0.3em;
}
div.p9{
	width:57.3em;
height:60em;
top:24em;
left:0.3em;
}
div.p11{
	width:57.3em;
height:21em;
top:8.5em;
left:0.3em;
}
div.p12{
	width:57.3em;
height:5em;
top:35em;
left:0.3em;
}

div.p13{
	border: 2px solid black;
  padding: 20px;
position:absolute;
overflow:hidden;
background-color: white;
font-family: Arial,serif;
font-size:13px;
color:black;
font-weight:normal;
font-style:normal;
text-decoration: none;	
width:57.3em;;
height:2.77em;
top:217em;
left:25.4em;

}
div.p14{
	border: 2px solid black;
  padding: 20px;
position:absolute;
overflow:hidden;
background-color: white;
font-family: Arial,serif;
font-size:13px;
color:black;
font-weight:normal;
font-style:normal;
text-decoration: none;	
width:57.3em;
height:10em;
top:230em;
left:25.3em;
}
div.p18{
	border: 2px solid black;
  padding: 20px;
position:absolute;
overflow:hidden;
background-color: white;
font-family: Arial,serif;
font-size:13px;
color:black;
font-weight:normal;
font-style:normal;
text-decoration: none;	
width:57.3em;;
height:2.77em;
top:300em;
left:25.4em;

}

 table.t1 ,tr.tr{
	border: 0;
}
td{
	border: 0;
}










