table, th, td {
    border: 1px solid black;
}

.First {
  background-color: #000;
  color: #fff;
}

.Second {
  background-color: #fff;
  color: #000;
}

.selected {
    background-color: rgba(0,0,0,0.4) !important;
    color: #fff;
}

table {
  border-collapse: collapse;
}