#img{
  width: 100%;
  height: 100%;
}

.maincontainer{
    position:relative;
    width: 400px;
    height: 400px;
    background: white;
  }
.thecard{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}
.thecard:hover{
  transform: rotateY(-180deg);

}


.front{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: grey;
  color: #124;

}

.back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: grey;
  color: #124;
  transform: rotateY(180deg);
}
  .blink{
    width:200px;
    height: 50px;
    padding: 15px;  
    text-align: center;
    line-height: 50px;
    backface-visibility: hidden;
  }
  span1{
    font-size: 25px;
    font-family: 
    text-align:center;
    color:black;
    animation: blink 1s linear infinite;
    backface-visibility: hidden;
  }
@keyframes blink{
0%{opacity: 0;}
100%{opacity: 1;}
}
.zoom{
  zoom: 150%;
}