
  .nav-link{
  font-family: georgia;
font-size: 20px;
margin-right: 50px;
}
.nav-link:hover{
  background-color: #CC6666;
  width: 100%;
}
.button, input[type=submit] {
  border-radius: 4px;
  background-color:#DC143C ;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 8px;
  width: 60%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px;
  position: relative;
   font-family: georgia;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.form_align {
  width: 500px;
  margin: 10px auto;
  padding: 50px;
  height: 70%;
  
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          margin-top: 15px;
}
input[type=text]{
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #DC143C;
    font-size: 18px;

  }
 
  .container{
  border:1px solid #DC143C;
  max-width: 600px;
  margin: auto;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  
}     





